@tailwind components;

@layer components {
  @keyframes moveFish1 {
    0% {
      transform: translate(-10vw, 0rem);
    }
    25% {
      transform: translate(40vw, 0rem);
    }
    50% {
      transform: translate(119vw, 3rem);
    }
    51% {
      transform: translate(119vw, 3rem) scaleX(-1);
    }
    75% {
      transform: translate(35vw, 3rem) scaleX(-1);
    }
    100% {
      transform: translate(-10vw, 0rem) scaleX(-1);
    }
  }
  @keyframes moveFish2 {
    0% {
      transform: translate(-10vw, 10em);
    }
    25% {
      transform: translate(60vw, 10em);
    }
    50% {
      transform: translate(119vw, 15em);
    }
    51% {
      transform: translate(119vw, 15em) scaleX(-1);
    }
    /* 75% {
      transform: translate(50vw, 15em) scaleX(-1);
    } */
    100% {
      transform: translate(-10vw, 10em) scaleX(-1);
    }
  }
  @keyframes moveFish3 {
    0% {
      transform: translate(-10vw, 0em);
    }
    25% {
      transform: translate(35vw, 18em);
    }
    50% {
      transform: translate(119vw, 18em);
    }
    51% {
      transform: translate(119vw, 18em) scaleX(-1);
    }
    75% {
      transform: translate(50vw, 10em) scaleX(-1);
    }
    100% {
      transform: translate(-10vw, 0em) scaleX(-1);
    }
  }
  @keyframes moveFish4 {
    0% {
      transform: translate(-10vw, 10rem);
    }
    25% {
      transform: translate(35vw, 18rem);
    }
    50% {
      transform: translate(119vw, 18rem);
    }
    51% {
      transform: translate(119vw, 18rem) scaleX(-1);
    }
    60% {
      transform: translate(119vw, 18rem) scaleX(-1);
    }
    75% {
      transform: translate(50vw, 10rem) scaleX(-1);
    }
    100% {
      transform: translate(-10vw, 10rem) scaleX(-1);
    }
  }
  @keyframes moveFish5 {
    0% {
      transform: translate(-10vw, 15rem);
    }
    25% {
      transform: translate(20vw, 10rem);
    }
    50% {
      transform: translate(105vw, 8rem);
    }
    51% {
      transform: translate(105vw, 8rem) scaleX(-1);
    }
    60% {
      transform: translate(105vw, 8rem) scaleX(-1);
    }
    75% {
      transform: translate(60vw, 15rem) scaleX(-1);
    }
    100% {
      transform: translate(-10vw, 15rem) scaleX(-1);
    }
  }
  @keyframes moveFish6 {
    0% {
      transform: translate(-10vw, 10em);
    }
    25% {
      transform: translate(40vw, 10em);
    }
    50% {
      transform: translate(105vw, 15em);
    }
    51% {
      transform: translate(105vw, 15em) scaleX(-1);
    }
    /* 75% {
      transform: translate(50vw, 15em) scaleX(-1);
    } */
    100% {
      transform: translate(-10vw, 10em) scaleX(-1);
    }
  }
  @keyframes moveFish7 {
    0% {
      transform: translate(119vw, 10em) scaleX(-1);
    }
    25% {
      transform: translate(85vw, 9em) scaleX(-1);
    }
    26% {
      transform: translate(85vw, 9em);
    }
    50% {
      transform: translate(119vw, 9em);
    }
    51% {
      transform: translate(119vw, 9em) scaleX(-1);
    }
    75% {
      transform: translate(85vw, 10em) scaleX(-1);
    }
    76% {
      transform: translate(85vw, 10em);
    }
    100% {
      transform: translate(119vw, 10em);
    }
  }
  @keyframes moveFish8 {
    0% {
      transform: translate(5vw, 10rem);
    }
    25% {
      transform: translate(80vw, 18rem);
    }
    50% {
      transform: translate(95vw, 18rem);
    }
    51% {
      transform: translate(95vw, 18rem) scaleX(-1);
    }
    60% {
      transform: translate(95vw, 18rem) scaleX(-1);
    }
    75% {
      transform: translate(50vw, 10rem) scaleX(-1);
    }
    100% {
      transform: translate(5vw, 10rem) scaleX(-1);
    }
  }
  @keyframes moveFish9 {
    0% {
      transform: translate(-15vw, 0);
    }
    50% {
      transform: translate(60vw, 5rem);
    }
    99% {
      transform: translate(125vw, 4rem);
    }
    100% {
      opacity: 0;
      transform: translate(-15vw, 0);
    }
  }
  @keyframes moveFish10 {
    0% {
      transform: translate(119vw, 3rem) scaleX(-1);
    }
    25% {
      transform: translate(35vw, 3rem) scaleX(-1);
    }
    50% {
      transform: translate(-10vw, 0rem) scaleX(-1);
    }
    51% {
      transform: translate(-10vw, 0rem);
    }
    75% {
      transform: translate(40vw, 0rem);
    }
    100% {
      transform: translate(119vw, 3rem);
    }
  }

  .bubble {
    animation: moveBubble 10s ease-in infinite;
  }
  @keyframes moveBubble {
    0% {
      transform: translate(5vw, 10rem);
    }
    100% {
      transform: translate(5vw, -40rem);
    }
  }
}
