@import url("animations.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OffBit";
    src: url("/fonts/OffBit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "OffBit";
    src: url("/fonts/OffBit-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "HomeVideo";
    src: url("/fonts/HomeVideo-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "HomeVideo";
    src: url("/fonts/HomeVideo-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Covid19";
    src: url("/fonts/Covid19.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    background-color: #9ebc4a;
    scroll-behavior: smooth;
  }
  a {
    @apply text-white hover:text-green-secondary;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }
  h3 {
    @apply text-xl;
  }
  h2 {
    @apply text-2xl;
  }
  h1 {
    @apply text-3xl;
  }

  body {
    cursor: url("/images/cursors/sword@0.5x.png"), auto;
  }
  .cursor-pickaxe {
    cursor: url("/images/cursors/diamond-pickaxe.png"), auto;
  }
  .cursor-lightsaber {
    cursor: url("/images/cursors/lightsaber.png"), auto;
  }
  .cursor-fishing {
    cursor: url("/images/cursors/fishing-rod.png"), auto;
  }
}

@layer components {
  .spaceship {
    animation: moveSpaceship 3s ease-in-out infinite;
  }
  /* Keyframe animation to move the spaceship around */
  @keyframes moveSpaceship {
    0% {
      transform: translate(0, 0); /* Start centered */
    }
    25% {
      transform: translate(-50px, -25px); /* Move left and slightly up */
    }
    50% {
      transform: translate(25px, -50px); /* Move right and further up */
    }
    75% {
      transform: translate(-50px, -25px); /* Move back left */
    }
    100% {
      transform: translate(0, 0); /* Return to starting point */
    }
  }

  /* .whale {
    animation: moveWhale 30s ease-in-out infinite;
  }
  @keyframes moveWhale {
    0% {
      transform: translate(0, 5em);
    }
    25% {
      transform: translate(40vw, 5em);
    }
    50% {
      transform: translate(90vw, 8em);
    }
    51% {
      transform: translate(90vw, 8em) scaleX(-1);
    }
    75% {
      transform: translate(35vw, 8em) scaleX(-1);
    }
    100% {
      transform: translate(0, 5em) scaleX(-1);
    }
  } */

  .gallery-image {
    @apply relative;
  }
  .gallery-image div {
    @apply absolute bottom-0 left-0 right-0 top-0 hidden bg-black/40;
  }
  .gallery-image:hover div {
    @apply block;
  }
}
