@import url("animations.css");
@import url("navbar.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OffBit";
    src: url("/fonts/OffBit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "OffBit";
    src: url("/fonts/OffBit-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "HomeVideo";
    src: url("/fonts/HomeVideo-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "HomeVideo";
    src: url("/fonts/HomeVideo-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Covid19";
    src: url("/fonts/Covid19.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    background-color: #9ebc4a;
    scroll-behavior: smooth;
  }
  a {
    @apply text-white hover:text-green-secondary;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }
  h3 {
    @apply text-xl;
  }
  h2 {
    @apply text-2xl;
  }
  h1 {
    @apply text-3xl;
  }

  body {
    cursor: url("/images/cursors/sword@0.5x.png"), auto;
  }
  .cursor-shovel {
    cursor: url("/images/cursors/iron-shovel.png"), auto;
  }
  .cursor-pickaxe {
    cursor: url("/images/cursors/diamond-pickaxe.png"), auto;
  }
  .cursor-lightsaber {
    cursor: url("/images/cursors/lightsaber.png"), auto;
  }
  .cursor-fishing {
    cursor: url("/images/cursors/fishing-rod2.png"), auto;
  }
  a,
  button,
  .cursor-pointer-pixel {
    cursor: url("/images/cursors/pointer-pixel.png"), auto;
  }

  /* For observable fade effect */
  .obs-fade {
    transition:
      opacity 1s ease-out,
      transform 0.5s ease-out !important;
  }
  .obs-fade.obs-hidden {
    opacity: 0;
    transform: translateY(20px);
  }
}

@layer components {
  .game-button {
    @apply flex items-center;
  }
  .game-button .triangle {
    @apply mr-2 fill-green-secondary opacity-0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    transform: translateX(-10px);
  }
  .game-button:hover .triangle {
    @apply translate-x-0 opacity-100;
  }

  .card-predavaci {
    @apply relative m-4 flex w-72 cursor-pointer-pixel flex-col border-4 border-[#21c7cd] bg-[#1b4e79] p-4 text-center hover:bg-blue-primary;
  }
  #predavaci-modal {
    @apply cursor-lightsaber fixed bottom-0 left-0 right-0 top-0 z-50 flex items-center justify-center bg-[rgba(0,0,0,.8)];
    @apply opacity-0;
    transition: opacity 0.25s ease-in-out;
  }
  #predavaci-modal .content {
    @apply container max-h-[92vh] overflow-y-auto border-4 border-[#21c7cd] bg-[#1b4e79] font-covid19 text-blue-secondary;
    @apply scale-50;
    transition: transform 0.25s ease-in-out;
  }
  #predavaci-modal.fade-in {
    @apply opacity-100;
  }
  #predavaci-modal.fade-in .content {
    @apply scale-100;
  }

  .gallery-image {
    @apply relative;
  }
  .gallery-image div {
    @apply absolute bottom-0 left-0 right-0 top-0 hidden bg-black/40;
  }
  .gallery-image:hover div {
    @apply block;
  }
}
